<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Medium dashboard</title>
  <link rel="shortcut icon" href="https://miro.medium.com/1*m-R_BkNf1Qjr1YbyOIJY2w.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css" />
  <script src="https://kit.fontawesome.com/d47d3d2873.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css" />
  <style>
    .message-popup {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color: #2FDD92;
      width: 200px;
      border-radius: 10px;
      padding: 1rem;
      transition: all .25s linear;
      animation: fadeFromBottom .25s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    @keyframes fadeFromBottom {
      from {
        opacity: 0;
        transform: translateY(150px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
</head>