<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/reset.css" />
  <link rel="stylesheet" href="stylesheets/login.css" />
  <style>
    .wrapper {
      height: auto;
      min-height: 100vh;
    }

    .login {
      width: 50rem;
    }

    .main-login {
      padding: 4rem;
    }

    .main-login__title {
      margin-top: 0;
      margin-bottom: 1.8rem;
    }

    .main-login__desc {
      margin-top: 1rem;
    }

    .login-form {
      padding-top: 1.4rem;
    }

    .form-box {
      display: flex;
      gap: 1rem;
    }

    .form-box-item {
      position: relative;
      width: 100%;
    }

    .login-form__field {
      margin-bottom: 1rem;
    }

    .login__btn {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1.4rem;
    }

    .login-form__las-btn {
      display: block;
      width: 100%;
    }

    .login-footer {
      margin-top: 1.4rem;
      padding-bottom: 0;
    }
  </style>
</head>

<body>
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Login form -->
    <main class="login">
      <section class="main-login">
        <h2 class="main-login__title">
          <span class="main-login__title--mod">Đăng ký tài khoản</span>
        </h2>
        <form action="/register" method="post" enctype="application/x-www-form-urlencoded" class="login-form">
          <div class="login-form__field form-box">
            <div class="form-box-item">
              <p class="login-form__title-area">First Name</p>
              <input type="text" name="firstName" class="login-form__area" autocomplete="new-password" autofocus required />
            </div>
            <div class="form-box-item">
              <p class="login-form__title-area">Last Name</p>
              <input type="text" name="lastName" class="login-form__area" autocomplete="new-password" required />
            </div>
          </div>
          <div class="login-form__field form-box">
            <div class="form-box-item">
              <p class="login-form__title-area">Ngày sinh</p>
              <input type="date" name="dayOfBirth" class="login-form__area" autocomplete="new-password" required />
            </div>
            <div class="form-box-item">
              <p class="login-form__title-area">Giới tính</p>
              <select name="gender" class="login-form__area" required>
                <option value="nam">Nam</option>
                <option value="nữ">Nữ</option>
              </select>
            </div>
          </div>
          <div class="login-form__field">
            <p class="login-form__title-area">Email</p>
            <input type="email" name="email" class="login-form__area" autocomplete="new-password" required />
          </div>
          <div class="login-form__field">
            <p class="login-form__title-area">Mật khẩu</p>
            <input type="password" name="password" class="login-form__area" autocomplete="new-password" required />
          </div>
          <div class="login-form__field">
            <p class="login-form__title-area">Số điện thoại</p>
            <input type="number" name="phone" class="login-form__area" autocomplete="new-password" required />
          </div>
          <div class="login-form__field">
            <p class="login-form__title-area">Địa chỉ</p>
            <input type="text" name="address" class="login-form__area" autocomplete="new-password" required />
          </div>

          <% if (message) { %>
          <span class="error-message"><%= message %> </span>
          <% } %>
          <div class="login-form__las-btn">
            <button type="submit" class="btn login__btn">Đăng ký</button>
          </div>
        </form>
        <footer class="login-footer">
          <p class="login-footer__desc">
            By signing up, you agree to thegioitech
          </p>
          <a href="/login" class="login-footer__tos">Đã có tài khoản, đăng nhập!</a>
        </footer>
      </section>
    </main>
  </div>
</body>

</html>